@* Ürünler resimleri ile birlikte kartların içinde olması için bu sayfa yapıldı. *@
@* Karta Gösterilenler
    ImageUrl= Resim, Name=Ürün İsmi, Price= Ürün fiyatı
    Details= Ürün Detay, AddToCart=Sepete ekle*@

@model Product

<div class="card mb-2">
    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fa-solid fa-turkish-lira-sign"></i> @Model.Price
        </small>
    </div>

    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url"
            class="btn btn-outline-secondary  btn-sm"><i class="fa-solid fa-circle-info"></i> Detay</a>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Cart" asp-action="AddToCart" method="POST" style="display: inline;">
                <input type="hidden" name="productId" value="@Model.ProductId">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-outline-secondary  btn-sm"><i class="fa-solid fa-cart-arrow-down"></i>
                    Sepete
                    Ekle</button>
            </form>
        }
    </div>

</div>