<div class="card mt-3">
    <div class="card-header">
        <h5>Arama Motoru</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group">
                <input name="q" type="text" class="form-control" placeholder="Arama">
            </div>
            <button type="submit" class="btn btn-dark btn-sm btn-block">Ara</button>
        </form>
    </div>
</div>